
#musiad {
  height: 500px;
}
#anaDili {
  height: 500px;
}
h1 {
  background-color: blue;
  color: white;
}
input {
  margin-top: 10px;
}
td,
th {
  border: 1px solid;
}
img{border-radius: 100%;}

.baslik1{
font-size: large;
}

#ad1{
    color: red;
}
#ad2{
    color: blue;
}

#ad3{
    color: green;
}