* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
}

.header {
  width: 100%;
}
nav {
  display: flex;
  justify-content: space-between;
  align-self: center;
  margin-top: 20px;
  height: 40px;

  border-bottom: 1px solid #ededed;
  a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 10px;
  }
}
.card {
  width: 15%;
  border: 1px solid #ededed;
  border-radius: 20px;
}

.icons {
  display: flex;
  gap: 10px;
}
.textbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgbox {
  padding: 10px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  width: 100%;
}
button {
  background-color: purple;
  width: 90%;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  color: white;
  padding: 8px;
  margin: 10px 0;
}
.cards {
  margin-top: 10px;
  width: 98%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.hamburger {
  display: none;
  font-size: 25px;
}

@media screen and (min-width: 300px) and ( max-width: 576px) {
  .link {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .card{
    width: 45%;
  }
  .icons{
    display: none;
  }
}
